dfs.pkl
exchange_rates.xlsx
factors_of_uncertainty.xlsx
i_signal.pkl
interest_rates.xlsx
__pycache__/abstract_ml_model.cpython-38.pyc
__pycache__/arima_model.cpython-38.pyc
__pycache__/cnn_model.cpython-38.pyc
__pycache__/lstm_model.cpython-38.pyc
__pycache__/model_executor.cpython-38.pyc
__pycache__/portfolio_builder.cpython-38.pyc
ml_results/full_long.csv
ml_results/full_long_contr.csv
ml_results/full_long_prop_long.csv
ml_results/full_long_prop_short.csv
ml_results/full_long_stats.csv
ml_results/full_short.csv
ml_results/full_short_contr.csv
ml_results/full_short_prop_long.csv
ml_results/full_short_prop_short.csv
ml_results/full_short_stats.csv
ml_results/traditional.csv
ml_results/traditional_contr.csv
ml_results/traditional_prop_long.csv
ml_results/traditional_prop_short.csv
ml_results/traditional_stats.csv
reg_results/table1_1M.csv
reg_results/table1_1W.csv
reg_results/table1_3M.csv
reg_results/table2_1M.csv
reg_results/table2_1W.csv
reg_results/table2_3M.csv
reg_results/table3_1M.csv
reg_results/table3_1W.csv
reg_results/table3_3M.csv
reg_results/table4_1M.csv
reg_results/table4_1W.csv
reg_results/table4_3M.csv
reg_results/table5_1M.csv
reg_results/table5_1W.csv
reg_results/table5_3M.csv
reg_results/table6_1M.csv
reg_results/table6_1W.csv
reg_results/table6_3M.csv
summary_stats/corr_30days.csv
summary_stats/corr_7days.csv
summary_stats/corr_90days.csv
summary_stats/i_star_minus_i_df_30days.csv
summary_stats/i_star_minus_i_df_7days.csv
summary_stats/i_star_minus_i_df_90days.csv
summary_stats/ir_30days.csv
summary_stats/ir_7days.csv
summary_stats/ir_90days.csv
summary_stats/kurt_zfwd_30days.csv
summary_stats/kurt_zfwd_7days.csv
summary_stats/kurt_zfwd_90days.csv
summary_stats/kurt_zspot_30days.csv
summary_stats/kurt_zspot_7days.csv
summary_stats/kurt_zspot_90days.csv
summary_stats/lnf0_minus_lnS0_30days.csv
summary_stats/lnf0_minus_lnS0_7days.csv
summary_stats/lnf0_minus_lnS0_90days.csv
summary_stats/lnS1_minus_lnS0_30days.csv
summary_stats/lnS1_minus_lnS0_7days.csv
summary_stats/lnS1_minus_lnS0_90days.csv
summary_stats/skew_zfwd_30days.csv
summary_stats/skew_zfwd_7days.csv
summary_stats/skew_zfwd_90days.csv
summary_stats/skew_zspot_30days.csv
summary_stats/skew_zspot_7days.csv
summary_stats/skew_zspot_90days.csv
summary_stats/summary_table_30days.csv
summary_stats/summary_table_7days.csv
summary_stats/summary_table_90days.csv
summary_stats/zfwd_df_30days.csv
summary_stats/zfwd_df_7days.csv
summary_stats/zfwd_df_90days.csv
summary_stats/zspot_df_30days.csv
summary_stats/zspot_df_7days.csv
summary_stats/zspot_df_90days.csv
